.h2{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 2rem;
}
.nav__list__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.nav__list__item{
    list-style: none;
    padding-left: 10px;
    color: var(--color-gray-dark)
}
.nav__list__item:hover{
    background-color: var(--color-gray-light);
    padding: 8px;
    border-radius: var(--border-radius);
}