* {
    margin: 0;
    padding: 0;
}
aside {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 90vh;
    justify-content: space-between;
}
.top-settings {
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
    height: 20vh;
}
a.active {
    background: #c6dee7;
    color: teal;
}
.bottom-settings {
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.bottom-settings a:last-child {
    margin-top: auto;
    color: red;
}
.top-settings,
.bottom-settings {
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    width: 15rem;
    padding: 10px;
}
a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    gap: 0.6rem;
    padding: 10px;
    border-radius: 10px;
    h3 {
        font-weight: 100;
        font-size: 16px;
    }
}
a:hover {
    color: teal;
    background: #c6dee7;
}

.page {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}
main {
    background: #f1e4ef;
    width: 100%;
    display: grid;
    grid-template-columns: 12rem auto 23rem;
}
.reminder {
    padding: 10px;
    background: #a9def9;
}
.reminder__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    font-size: 24px;
}
.reminder__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 8px;
    border-radius: 10px;
}
.reminder__icon:hover {
    background: #ff1f57;
    cursor: pointer;
    color: white;
}
.reminder__header {
    margin-bottom: 10px;
}
.notify__card {
    box-shadow: var(--box-shadow);
    padding: 10px;
    border-radius: 10px;
    background: white;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.notify__icon {
    color: white;
    padding: 8px;
    border-radius: 10px;
    background: #ff1f57;
    width: max-content;
}
.notify__card .timestamp {
    color: gray;
    font-size: 12px;
}
.notification__list {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
