.aside {
    background-color: var(--orange, orange);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: var(--padding-sm);
}

.aside a {
    color: var(--white);
    text-decoration: none;
}

.aside ul {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
}

.aside li {
    list-style: none;
    padding: var(--padding-xs);
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
}

.aside__footer {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* dash board */
.dashboard__grid {
    display: grid;
    grid-template-columns: 300px auto 400px;
}

/* main section */
.section__main {
    background-color: var(--orange);
}

.main__wrapper {
    border-top-left-radius: var(--border-lg);
    border-bottom-left-radius: var(--border-lg);
    background-color: var(--white);
    padding: var(--padding-sm);
    height: 100vh;
}

.main__wrapper header {
    margin-bottom: var(--margin-sm);
}

.main__searchBar {
    background-color: var(--gray-light);
    padding: var(--padding-xs);
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
}

.main__searchBar input {
    padding: var(--padding-xs);
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}

/* section Overview */
.section__main .content {
    margin-bottom: var(--margin-sm);
}

.section__main .content h2 {
    margin-bottom: var(--margin-xs);
}

.overview__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-sm);
}

.overview__card__1 {
    border-radius: var(--border-sm);
    background-color: var(--red);
    padding: var(--padding-sm);
}

.overview__card__1 header {
    display: flex;
    gap: var(--gap-sm);
    margin-bottom: var(--margin-sm);
}

.overview__card .content {
    display: flex;
    gap: var(--gap-sm);
}

.overview__manage__actions {
    display: flex;
    gap: var(--gap-md);
    margin-bottom: var(--margin-lg);
}

.overview__manage__actions a {
    text-decoration: none;
    color: var(--white);
    padding: var(--padding-xs);
    white-space: nowrap;
    border-radius: var(--border-lg);
    background-color: var(--orange);
}

/* aside right */
.aside__right>header {
    display: flex;
    align-items: center;
    gap: var(--gap-md);
    justify-content: end;
    padding: var(--padding-sm);
    margin-bottom: var(--margin-sm);
}

.aside__right header a {
    text-decoration: none;
    color: var(--black);
}

.profile__image {
    background-color: var(--orange-light);
    display: inline-block;
    border-radius: 100%;
    padding: 4px;
    width: 48px;
    height: 48px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside__right h2 {
    margin-bottom: var(--margin-xs);
}

.aside__right__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-sm);
}

.aside__right__card__1 {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-sm);
    background-color: var(--green);
    padding: var(--padding-sm);

}

.aside__right__card__1>header span {
    background-color: var(--green-dark);
    margin-bottom: var(--margin-xs);
    font-size: 32px;
    color: var(--white);
    padding: var(--padding-xs);
    border-radius: var(--border-sm);
}

/* table data */

.table__control {
    margin-bottom: var(--margin-sm);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__control__paging{
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
    align-self: flex-end;
}
.table__control__paging :first-child{
    font-size: 13px;
}
.table__control__paging :not(:first-child){
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
}

.section__overview__data table {
    width: 100%;
    border-collapse: collapse;
}

.section__overview__data thead {
    background-color: var(--gray-light);
}

.section__overview__data th {
    padding: var(--padding-xs);
    font-size: 12px;
}

.input__group {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
}
.input__group select, input{
    background-color: transparent;
    border: 1px solid var(--gray-light);
    border-radius: var(--border-xs);
    padding: var(--padding-xs);
}
.input__group label{
    font-size: 14px;
    color: var(--gray-dark);
}