:root {
  --color-red-pantone: #E63946;
  --color-rich-black: #0A131F;
  --color-yale-blue: #0D3B66;
  --color-honeydew: #F1FAEE;
  --color-white-smoke: #EDEDE9;
  --color-gray: #CFD5DD;
  --color-ultramarine-blue: #4253f0;
  --color-soft-blue: #7869de;

  --font-family-montserrat: 'Montserrat', sans-serif;
  --border-radius: 10px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: var(--color-rich-black);
  font-family: var(--font-family-montserrat);
}
a {
  font-weight: 500;
  text-decoration: inherit;
}